<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/home.css">
    <script src="https://kit.fontawesome.com/17362327c7.js" crossorigin="anonymous"></script>
    <title>Ebla - Home</title>
</head>

<body>
    <%- include('partials/nav.ejs') %>

        <main>
            <section>
                <% products.forEach(function(product){ %>
                    <article>
                        <a href="/products/<%= product.id %>">
                            <img src="<%= product.image %>" alt="<%= product.name %>">
                            <h3 class="price">$ <%= product.price %> <span class="discount">
                                    <% if (product.discount>0) { %>
                                        <%= product.discount %>%
                                            <% } %>
                                </span>
                            </h3>
                            <H4 class="free-shipping">Envío gratis</H4>
                            <p class="product-title">
                                <%= product.name %>
                            </p>
                        </a>
                    </article>
                    <% }) %>
            </section>
        </main>

        <%- include('partials/footer.ejs') %>
            <script src="js/scripts.js"></script>
</body>

</html>