<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/product-details.css">
    <script src="https://kit.fontawesome.com/17362327c7.js" crossorigin="anonymous"></script>
    <title>Ebla - Detalle del producto</title>
</head>

<body>
    <%- include('partials/nav.ejs') %>
        <main>
            <section>
                <div style="display: flex; flex-direction: row; align-items: center;"></div>
                <div class="product-container">
                    <div class="product-header">
                        <h3><%= product.name %></h3>
                        <img src="<%= product.image %>" class="image-product">
                    </div>
                    <div>
                        <h2>$ <%= product.price %></h2>
                        <div class="icons-container">
                            <span class="icons-style">
                                <span class="stock-icon">
                                    <i class="fa-solid fa-circle-check"></i>
                                </span>
                                <span class="text-icon">En stock</span>
                            </span>

                            <span class="icons-style">
                                <span class="guarantee-icon">
                                    <i class="fa-solid fa-shield"></i>
                                </span>
                                <span class="text-icon">Producto con garantía</span>
                            </span>

                            <span class="icons-style">
                                <span class="icons-color">
                                    <i class="fa-solid fa-truck"></i>
                                </span>
                                <span class="text-icon">Envío a todo el país</span>
                            </span>

                            <span class="icons-style">
                                <span class="icons-color">
                                    <i class="fa-solid fa-shop"></i>
                                </span>
                                <span class="text-icon">Retiro en local</span>
                            </span>
                        </div>
                        <div>
                            <div class="edit"><a href="/products/edit/<%= product.id %>">EDITAR PRODUCTO</a></div>
						<form action="/products/<%= product.id %>?_method=DELETE" method="POST" style="display: inline-flex">
							<button type="submit" class="delete">ELIMINAR</button>
						</form>
                        </div>
                        <div class="button-container">
                            <button class="add-cart">Agregar al carrito <i class="fa-solid fa-cart-plus"></i></button>
                            <button class="buy-now">Comprar ahora <i class="fa-solid fa-lock"></i></button>
                        </div>
                    </div>
                </div>
            </section>

            <section class="description-container">
                <div>
                    <h3>Descripcion</h3>
                    <p><%= product.description %></p>
                </div>
            </section>
        </main>

        <%- include('partials/footer.ejs') %>
            <script src="js/scripts.js"></script>
</body>

</html>